{{#each this}}
  <img
    class='modal-poster'
    src='https://i11.haber7.net//haber/haber7/photos/2022/30/VZbHy_1658831645_6941.jpg'
    alt=''
    width='240'
  />
  <div>
    <div>
      <h2 class='modal-movie-title'>Bullet Train</h2>

      <div class='wrap-flex'>
        <div>
          <p class='movie-label'>Vote / Votes</p>
          <p class='movie-label'>Popularity</p>
          <p class='movie-label'>Original Title</p>
          <p class='movie-label'>Genre</p>
        </div>

        <div class='wrap-movie-disc'>
          <p class='movie-disc'>
            <span class='accent-detail'> 7.3</span><span class='movie-label'>
              /
            </span>1260
          </p>
          <p class='movie-disc'>100.2</p>
          <p class='movie-disc movie-disc-title'>Bullet Train</p>
          <p class='movie-disc movie-disc-genres'>Action, thriller</p>
        </div>
      </div>

      <h3 class='disc-title'>About</h3>
      <p class='disc-text'>
        Take a trip to Tokyo. Buy a ticket for the near-mythical bullet train.
        And as that sleek metal snake rockets to a staggering top speed of
        200mph, you’ll no doubt find yourself thinking: this would make an
        amazing setting for an all-guns-blazing action-comedy. Take a trip to
        Tokyo. Buy a ticket for the near-mythical bullet train. And as that
        sleek metal snake rockets to a staggering top speed of 200mph, you’ll no
        doubt find yourself thinking: this would make an amazing setting for an
        all-guns-blazing action-comedy.
      </p>
    </div>
    <div class='button-container'>
      <button type='button' class='modal-btn'>add to watched</button>
      <button type='button' class='modal-btn btn-queue'>
        add to queue
      </button>
    </div>
  </div>
{{/each}}