{{#each this}}

  <img src='./images/students/frame.png' alt='frame' />
  <img src='${data.photo}' alt='${data.nameEn}' width='150' />
  <h3>Name: ${data.nameEn}/ ${data.nameUkr}</h3>
  <p>Role: ${data.role}</p>
  <p>Location: ${data.location}</p>

  <a
    href='${data.githubLink}'
    aria-label='GitHub'
    target='_blank'
    rel='noreferrer noopener nofollow'
  >
    <svg class='icon-soc'>
      <use href='./images/sprite.svg#icon-github'></use>
    </svg>
  </a>
  <a
    href='${data.telegramLink}'
    aria-label='Telegram'
    target='_blank'
    rel='noreferrer noopener nofollow'
  >
    <svg class='icon-soc'>
      <use href='./images/sprite.svg#icon-telegram'></use>
    </svg>
  </a>
  <a
    href='${linkedInLink}'
    aria-label='Linkedin'
    target='_blank'
    rel='noreferrer noopener nofollow'
  >
    <svg class='icon-soc'>
      <use href='./images/sprite.svg#icon-linkedin'></use>
    </svg>
  </a>

{{/each}}