<footer class="footer container">
  <p>&#169; 2022 | All Rights Reserved |</p>
  <div class="footer-wrap">
    <p>&#8201;Developed with</p>
  <svg class="icon-favorite">
    <use href="./images/sprite.svg#icon-favorite"></use>
  </svg>
  <button class="footer-btn" type="button">
    by <span>GoIT Students</span>
  </div>
  </button>
  <!-- ----модалка для футера -->
    
    <div class="backdrop-footer is-hidden" data-footer-modal>

       <div class="footer-modal">
         <button type="button" class="btn-close" data-modal-footer-close>
          <svg class="icon-close" width="30" height="30">
            <use href="./images/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
<div class="students">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eum sapiente iusto ipsam aut, quod necessitatibus sunt ad quae perferendis impedit, praesentium modi voluptatem explicabo doloremque numquam magnam dolore. Quia expedita error odio commodi unde et iste mollitia, assumenda delectus voluptates voluptate aliquam, reprehenderit molestias quidem incidunt adipisci, vero a!</p>
</div>
       </div>
    </div>
</footer>

    
