<footer class="footer container">
  <p>&#169; 2022 | All Rights Reserved |</p>
  <div class="footer-wrap">
    <p>&#8201;Developed with</p>
  <svg class="icon-favorite">
    <use href="./images/sprite.svg#icon-favorite"></use>
  </svg>
  <button class="footer-btn" type="button">
    by <span>GoIT Students</span>
  </div>
  </button>
  
</footer>

<!-- ----модалка для футера -->
    
    <div class="backdrop-footer is-hidden" data-footer-modal>

       <div class="footer-modal">
         <button type="button" class="btn-close" data-modal-footer-close>
          <svg class="icon-close" width="30" height="30">
            <use href="./images/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
        <h2>Cast</h2>
<div class="students">
  
</div>
       </div>
    </div>

    
