<header class="header-lib">
    <div class="header__content container">
    <nav class="header__navigation">
      <a href="index.html" class="header-logo">
        <svg class="logo-icon">
            <use href="./images/film.svg#main"></use>
        </svg>
        <span class="logo-name">Filmoteka</span>
      </a>
      <ul class="header__sidenav">
        <li class="header__sidenav__item">
          <a
            href="./index.html"
            class="header__sidenav__link"
            >Home</a
          >
        </li>
        <li class="header__sidenav__item">
          <a href="./my-library.html" class="header__sidenav__link library-lib"
            >My library</a
          >
        </li>
      </nav>
      <div class="buttons">
        <button class="btn watched" type="button">Watched</button>
        <button class="btn queue" type="button">Queue</button>
      </div>
</header>
