<main class="movies section">
  <div class="container">
    <!-- прихований герой-заголовок -->
    <h1 class="visually-hidden">Movie trailer searching site</h1>

    <!-- список, у який будуть рендеритися шаблони карток фільмів -->
    <div class="movies__list" data-modal-open></div>

    <!-- ----модалка для картки фільму -->
    <div class="backdrop is-hidden" data-modal>
      <div class="movie-modal">
        <button type="button" class="btn-close" data-modal-close>
          <svg class="icon-close" width="14" height="14">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="wrap-disc"></div>
      </div>
    </div>

    <!-- -----------btn scroll to top----------------- -->
    <a href="#search-form" class="to-top">
      <svg width="30" height="30" aria-label="to top">
        <use href="./images/icons-header.svg#arrow-up" />
      </svg>
    </a>
  </div>
</main>
