.themetoggle__container {
  position: absolute;
  bottom: 0;
  right: 20px;

  @media screen and (min-width: 768px) {
    right: 32px;
  }

  @media screen and (min-width: 1280px) {
    right: 34px;
  }
}

.themetoggle__btn {
  background-color: transparent;
}

.themetoggle__icon-light {
  fill: yellow;
  transition: fill 300ms linear;
}

.themetoggle__icon-dark.is-shown ~ .themetoggle__icon-light,
.themetoggle__icon-dark {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.themetoggle__icon-dark.is-shown {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  fill: white;
}

body.js-dark-theme {
  background-color: rgba($color: #5c4646, $alpha: 1);
}

.footer.js-dark-theme {
  background-color: rgba($color: #302727, $alpha: 1);
  color: $headerTextColor;
}
