.themetoggle__container {
  position: absolute;
  bottom: 0;
  right: 20px;

  @media screen and (min-width: 768px) {
    right: 32px;
  }

  @media screen and (min-width: 1280px) {
    right: 34px;
  }
}

.themetoggle__btn {
  background-color: transparent;
  border-style: none;
  scale: 1;

  transition: scale $transition, box-shadow $transition;

  &:hover {
    scale: 1.02;
    box-shadow: 0 0 7px 2px #a8a6a5;
  }
}

.themetoggle__icon-dark {
  fill: #ffffff;
  transition: fill $transition;
}

.themetoggle__icon-light.is-shown ~ .themetoggle__icon-dark {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.themetoggle__icon-light {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity $transition;
}

.themetoggle__icon-light.is-shown {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  fill: rgb(244, 159, 30);
}

body.js-dark-theme {
  background-color: rgba($color: #251c1c, $alpha: 1);
  & .movie-title {
    color: #ffffff;
  }

  & .footer {
    background-color: rgba($color: #403838, $alpha: 1);
    color: $headerTextColor;
  }

  & .movie-modal {
    background-color: #877f7c;
  }

  & .movie-label {
    color: #4f4d4c;
  }
}
